.admins-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.admins-table-modal-input {
  width: 200px !important;
  margin: 10px 0;
}
